  body {
    
   background: linear-gradient(to bottom right,#EB8F90, #FFB471);
    margin: 0 auto;
    padding: auto;
    text-align:center;
    width: 720px;

  }
  
  h1{
    
    color:white;
    
  }
  h2{
    color: white;
  }
  .page {
     border:5px solid black;
    text-align: right;
    width: 720px;
    justify-content:center;
    text-align: center;
    padding:10px; 
      margin: 30 auto
  }
  
  
  .Content{

    border-color: 5px solid black;
    margin: 0 auto;
  padding:20px;
    width: 720px;
    text-align: center;
  }
  
.nav {
   margin:auto;
 
}
img{
  width: 500px;
  height:300px;
  
}
